In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
#importing data from .csv file
data=pd.read_csv('C:\\Users\ADMIN\\Untitled Folder\\used_bikes.csv')

In [3]:
#checking datatypes of all columns
data.dtypes

bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

In [4]:
data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    float64
 2   city        149 non-null    object
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    object
 5   age         149 non-null    float64
 6   power       149 non-null    float64
 7   brand       149 non-null    object
dtypes: float64(4), object(4)
memory usage: 45.0 KB

In [6]:
data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    float64
 2   city        149 non-null    object
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    object
 5   age         149 non-null    float64
 6   power       149 non-null    float64
 7   brand       149 non-null    object
dtypes: float64(4), object(4)
memory usage: 45.0 KB

In [14]:
data['age']=data['age'].astype(int)

In [13]:
data['price']=data['price'].astype(int)

In [11]:
data['power']=data['power'].astype(int)

In [16]:
data['bike_name']=data['bike_name'].astype(str)

In [17]:
data['price']=pd.to_numeric(data['price'],downcast='integer')

In [20]:
data['city']=data['city'].astype(str)

In [21]:
data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    int32
 2   city        149 non-null    object
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    object
 5   age         149 non-null    int32
 6   power       149 non-null    int32
 7   brand       149 non-null    object
dtypes: float64(1), int32(3), object(4)
memory usage: 43.2 KB